<h1><%= image_tag(@picture.image.url, class: 'media-object') %></h1>

<p><%= link_to "Return to pictures", pictures_path %></p>


<h4>Tag another User</h4>
<%= form_for [@picture, @association] do |f| %>
<%= f.label :user_id %>
<%= f.select :user_id,
[
@users.each do |user|
["#{user.email}","#{user.email}"]
end
]
%>
<p><%= f.submit %></p>
<% end %>

<hr>
<h2>Picture Tags</h2>

<% Tag.where(picture_id: @picture.id).each do |tag| %>
  <%= tag.name %>
<% end %>

<hr>



<%= form_for [@picture, @tag] do |f| %>
<!-- <%= f.hidden_field :picture_id, value: @picture.id %> -->
<%= f.label :name %>
<%= f.text_field :name %>
<p><%= f.submit %></p>
<% end %>
